/* style.css */


body { margin: 0px;
 }

$bgcolour: white;

/*default styles */
body {
background-color: $bgcolour;	
}

ul{
list-style-type: none;
}

li{
border: 2px solid rgb(189, 180, 159);
margin-top: 3px;
border-radius: 4px;
}

/*ID styles*/
#listContainer{
max-width: 400px;
background-color: beige;
margin: 100px auto;
border: 2px solid grey;
border-radius: 4px;
}

#myList{

padding: 10px;
margin: 16px;

}

#addNew{
text-align: right;
cursor: default;
}

.hoverStyle{
background-color: orange;
font-weight: bold;
//text-align: right;

width: 110%;
}

.clickStyle{
font-color: blue;
//text-align: center;
border-width: 4px;
border-color: black;
}