/* style.css */
body {
  background-color: white; }

#listContainer {
  height: 400px;
  width: 300px;
  background-color: beige; }

#myList {
  position: relative;
  padding: 10px;
  margin: 16px; }
