/* style.css */
/*variables*/
/*default styles */
body {
  margin: 0px;
  background-color: #d5d5d5; }

body {
  background-color: #d5d5d5; }

ul {
  list-style-type: none; }

li {
  border: 2px solid #cccccc;
  margin-top: 3px;
  border-radius: 4px; }

/*ID styles*/
#listContainer {
  max-width: 400px;
  background-color: #4d4d4d;
  margin: 100px auto;
  border: 2px solid grey;
  border-radius: 4px; }

#myList {
  padding: 10px;
  margin: 16px; }
  #myList li {
    background-color: #9b9b9b; }

#addNew {
  text-align: center;
  cursor: pointer;
  border-bottom: thin dotted black;
  background-color: #9b9b9b; }

/*Class styles*/
.hoverStyle {
  background-color: #e68217 !important;
  width: 110%; }

.clickStyle {
  font-color: blue;
  font-weight: bold;
  border-width: 2px;
  border-color: #5cd5f3; }
